
// colors
$color-primary: #3E9CDC;
$color-secondary: #3E9CDC;
$color-text: #FFFFFF;
$color-text-dark: #000000;
$color-active-link: #43ABF0;
$color-brand-name-secondary: #42A9ED;
$color-main-presentation-secondary: #3E9CDC;
$color-border-primary: #FFFFFF;
$color-border-secondary: #6F6D7B;
$color-border-circle: #286690;
$color-button-secondary: #2A2B30;
$color-footer: #C3C3C3;

// background colors
$background-color-header: rgba(16, 16, 29, 0.9);
$background-color-footer: #3D4050;
$background-color-main-order: #272733;
$background-color-button-secondary: #FFFFFF;
$background-color-select: #272733E5;
$background-color-select-focus: rgba(61, 64, 80, 0.85);
$background-color-mobile-menu: #42A9ED;